%h2 Followers

%p
  = "You have #{@followers.length} followers."
%p
- @followers.each_with_index do |follower, n|
  - style = "height:52px; padding-left: 52px; background: url(#{ h follower['profile_image_url']}) no-repeat;"
  %hr
  #follower{:style => style}
    %p
      - screen_name_with_link = "<a href='http://twitter.com/#{follower['screen_name']}' target='_blank'>#{follower['screen_name']}</a>"
      != "#{@followers.length-n}. #{screen_name_with_link}, friends: #{follower['friends_count']}, followers: #{follower['followers_count']}"
