!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title Tweet Stats
    = stylesheet_link_tag 'master'
    // = stylesheet_link_tag 'tablecloth.css'
    // = javascript_include_tag 'tablecloth.js'
  %body
    #wrap
      #top
        %h2
          %a{:href => '/'} Tweet Stats [TS]
      - if @current_user
        #submenu
          %ul
            %li
              = link_to @current_user.screen_name, @current_user
            %li
              = link_to 'send tweet', tweets_send_path
            %li
              = link_to 'friends', friends_path
            %li
              = link_to 'followers', followers_path
            %li
              = link_to 'sign out', signout_path
      #content
        #wrapper
          = yield
      #clear
      #footer
        %p Copyright 2010 Tweet Stats [TS]
